@charset "utf-8";

div{color:#999;}

.content{
    width:714px;
    border:1px solid #F2F2F2;
    float:left;
    background-color:#fffeff;
    margin-top:22px;
}

.content .content_head{
    height:55px;
    line-height:55px;
    position:relative;
    border-bottom:1px solid #F2F2F2;
    padding:0 30px;
}

.content .content_head p{
    font-size:18px;
    color:#666;
    float:left;

}
.content .content_head a{
    font-size:16px;
    float:right;
}

.content_body{
    min-height:600px;
    font-size:16px;
    padding:15px 30px;
}

.content_body ul li{
    padding:15px 30px;
    border-bottom:1px solid #F2F2F2;
    cursor:pointer;
    font-size:18px;
    color:#666;
}

.content_body ul li:hover{
    background-color:#F2F2F2;
}

.content_body div{
    font-size:16px;
    color:#666;
    line-height:24px;
}